// 导入变量设置
@import './variables.styl'

/* 基础样式类
   ========================================================================== */
/**
 * 主元素高度
 */
html, body, #app
  height 100%
/**
 * 重置样式-ul
 */
ul
  padding-left 0
/**
 * 阿里iconfont基础样式
 */
.icon
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden
.big-icon
  font-size $f28
