/* 变量设置
   ========================================================================== */
/**
 * 字体设置相关变量
 */
$f12 = 12px
$f13 = 13px
$f14 = 14px
$f18 = 18px
$f28 = 28px

/**
 * 颜色相关变量
 */
$gray = #969696
$black = #333
$white = #fff
$paleBlue = #3194d0
