// 导入变量设置
@import 'variables.styl'

/* >>>=== 基础样式类 === */
@font-face
  font-family 'pingFangSC-Regular'
  src url('../fonts/PingFang SC Regular.ttf')
  font-weight normal
  font-style normal
/**
 * 主元素高度
 */
html, body
  width 100%
  height 100%
body
  background-color #f6f6f6
/**
 * 重置样式-ul
 */
ul
  padding-left 0
/**
 * 阿里iconfont基础样式
 */
.icon
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden
.big-icon
  font-size $f28
/* === 基础样式类 ===<<< */

/* >>>=== 主体结构样式类 === */
#app
  min-width 1000px
  main
    background-color #ffffff
/* === 主体结构样式类 ===<<< */
